<a href="https://colab.research.google.com/github/CODINGHARI123/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
pd.__version__

'2.0.3'

### Loading Data-Series

In [ ]:
a= [7,8,9,9]
dataset=pd.Series(a)
print(dataset)

0    7
1    8
2    9
3    9
dtype: int64

In [ ]:
a= [7,8,9,9]
dataset=pd.Series(a , index =['No.1','No.2','No.3','No.4'])
print(dataset)

No.1    7
No.2    8
No.3    9
No.4    9
dtype: int64

### Loading Data- DataFrame

In [ ]:
a= {"Name":["Champ","Mr.X","Mr.Y"],"Color":["Red","Black","Green"],"Marks":[90,95,98]}
dataset=pd.DataFrame(a)
print(dataset)

    Name  Color  Marks
0  Champ    Red     90
1   Mr.X  Black     95
2   Mr.Y  Green     98

### Loading Dataset From File

In [ ]:
# dataset_1 = pd.read_csv("file.csv")
# dataset_2 = pd.read_excel("file.xlsx")
# dataset_3 = pd.read_csv("file.txt")

### Dataset Details

In [ ]:
print(dataset.shape) # No.of Rows and Colunms
print(dataset.describe())# Detailed info about Dataset
print(dataset.info()) # Data Type of Each Column

(3, 3)
           Marks
count   3.000000
mean   94.333333
std     4.041452
min    90.000000
25%    92.500000
50%    95.000000
75%    96.500000
max    98.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Color   3 non-null      object
 2   Marks   3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

### Data Slicing

In [ ]:
print(dataset.columns)# To get only Columns Title
print(dataset["Name"])# To get data based on the specific title
print(dataset[["Name","Color"]])# To get data based on the specific title
print(dataset["Name"][0:3])# To get data based on the specific title with shape

Index(['Name', 'Color', 'Marks'], dtype='object')
0    Champ
1     Mr.X
2     Mr.Y
Name: Name, dtype: object
    Name  Color
0  Champ    Red
1   Mr.X  Black
2   Mr.Y  Green
0    Champ
1     Mr.X
2     Mr.Y
Name: Name, dtype: object

In [ ]:
print(dataset.iloc[1])# integer location acquire complete info about certain index
print(dataset.iloc[0:4])# acquire complete info about range of index
print(dataset.iloc[2,1])# acquire specific cell data

Name      Mr.X
Color    Black
Marks       95
Name: 1, dtype: object
    Name  Color  Marks
0  Champ    Red     90
1   Mr.X  Black     95
2   Mr.Y  Green     98
Green

In [ ]:
for index,row in dataset.iterrows(): # To print entrie data of a column
    print(index,row["Name"])

0 Champ
1 Mr.X
2 Mr.Y

### Data Slicing with Filters

In [ ]:
print(dataset.loc[dataset["Marks"]>=95])

   Name  Color  Marks
1  Mr.X  Black     95
2  Mr.Y  Green     98

### Slicing -Storing Data

In [ ]:
print(dataset.sort_values(["Marks"],ascending=False))

    Name  Color  Marks
2   Mr.Y  Green     98
1   Mr.X  Black     95
0  Champ    Red     90

### Editing Data

In [ ]:
dataset["Updated_Marks"]=dataset["Marks"]+1
print(dataset)

    Name  Color  Marks  Updated_Marks
0  Champ    Red     90             91
1   Mr.X  Black     95             96
2   Mr.Y  Green     98             99

In [ ]:
dataset.drop("Updated_Marks",axis=1,inplace=True)
print(dataset)

    Name  Color  Marks
0  Champ    Red     90
1   Mr.X  Black     95
2   Mr.Y  Green     98

### Save Dataset in New File

In [ ]:
dataset.to_csv("new_dataset.csv")

### Checking Null values in Dataset

In [ ]:
dataset.isnull().sum()

Name     0
Color    0
Marks    0
dtype: int64

### Acquiring Dataset without NaN Value , by removing the entire column

In [ ]:
# Method 1 - Removing nan values  or filling  values with mode if they are categorical values
dataset=dataset[dataset[["Marks","Name","Color"]].notnull()]
print(dataset)

    Name  Color  Marks
0  Champ    Red     90
1   Mr.X  Black     95
2   Mr.Y  Green     98

### Filling NaN with mean of that specific Column

In [ ]:
#Method 2 - Filling NaN values with mean or median if they are Numerical values
dataset_1=dataset["Marks"].fillna(dataset["Marks"].mean())
print(dataset_1)

0    90
1    95
2    98
Name: Marks, dtype: int64

### Mapping certain Data to another value

In [ ]:
Name=set(dataset["Name"])
dataset["Name"]=dataset["Name"].map({"Champ":"Champ","Mr.X":"Hari","Mr.Y":"Hanuman"})
print(dataset.head(3))

      Name  Color  Marks
0    Champ    Red     90
1     Hari  Black     95
2  Hanuman  Green     98